
Create two new Components (manually or with CLI): WarningAlert and SuccessAlert <br>
Output them beneath each other in the AppComponent <br> 
Output a warning or success message in the Components <br>
Style the Components appropriately (maybe some red/ green text?) <br>
Use external or internal templates and styles!  <br>

Feel free to create more components, nest them into each other or play around with different types of selectors!


<h1>{{title}}</h1>
<app-warning></app-warning>
<app-success></app-success>

